body{
    padding: 0;
    margin: 0;
    position: relative;
    height: 99vh;
}

#data-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

#add-pancakes, #pancakes-list{
    width: 400px;
    height: 450px;
    background-color: #e0d9ff;
    padding: 7px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
}

#add-pancakes input{
    margin: 15%;
}

#barbell-score-resolve{
    min-width: 130px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.pancake-in-list{
    text-align: center;
    margin: 4px 0;
    border: 1px solid #c6b9ff;
    cursor: pointer;
    background-color: #c6b9ff;
    border-radius: 5px;
    
}

.pancake-in-list:hover{
/*    background-color: aliceblue;*/
    border: 1px solid #2f00ff;
}

#barbell, #left-side-rod, #right-side-rod{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    height: 420px;
    align-items: center;
}

#left-side-rod, #right-side-rod{
    width: calc((100% - 200px) / 2);
}

#rod{
    background-color: darkblue;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

#left-side-rod{
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}



.pancake-on-rod{
    border-radius: 10px;
    margin: 0 2px;
    width: 16px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.pancake-part{
    position: relative;
    z-index: 10;
}

.on-rod{
    position: absolute;
    left: -10px;
/*    top: 50%;*/
    z-index: -1;
    width: 35px;
    height: 20px;
    border-radius: 5px;
    background-color: darkblue;
}



#list-container{
    min-height: 30px;
    height: 100%;
    overflow: auto;
}

.mass-show{
    position: absolute;
/*    top: -20px;*/
    left: -2px;
    width: 20px;
    height: 20px;
    background-color: brown;
    text-align: center;
}

.mass-show:before{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0px;
    left: 9px;
    width: 2px;
    height: 230px;
    background-color: #ff1f70;
}

.showing-pancake{
    border: 1px #ff1f70 solid;
}